body {
    background: #0eb98f;
}

body.spark-is-activate {
    overflow: hidden;
}

.button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #1db99c 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.spark-popup {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 800px;
    height: 300px;
    left: 50%;
    top: 150%;
    margin-left: -450px;
    margin-top: -300px;
    z-index: 101;
}

.spark-popup.opened {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.spark-popup.visible {
    opacity: 1;
    visibility: visible;
    top: 70%;
}

.spark-popup-overlay {
    height: 100%;
    width: 100%;
    background: #8a8a8a;
    opacity: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.spark-popup .spark-popup-nav {
    -webkit-transform: translate3d(50%, 0, 0) scale(0.002, 1);
    -moz-transform: translate3d(50%, 0, 0) scale(0.002, 1);
    -ms-transform: translate3d(50%, 0, 0) scale(0.002, 1);
    -o-transform: translate3d(50%, 0, 0) scale(0.002, 1);
    transform: translate3d(50%, 0, 0) scale(0.002, 1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.spark-popup .spark-popup-nav:nth-child(2) {
    -webkit-transform: translate3d(-50%, 0, 0) scaleX(0.002);
    -moz-transform: translate3d(-50%, 0, 0) scaleX(0.002);
    -ms-transform: translate3d(-50%, 0, 0) scaleX(0.002);
    -o-transform: translate3d(-50%, 0, 0) scaleX(0.002);
    transform: translate3d(-50%, 0, 0) scaleX(0.002);
    right: 0;
    width: 30%;
    height: 100%;
}

.spark-popup .spark-popup-nav .nav-inner {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    vertical-align: middle;
    white-space: normal;
    text-align: left;
}

.spark-popup.re-rotate {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

body.spark-is-activate .spark-popup-overlay {
    opacity: 0.5;
    visibility: visible;
}

.spark-popup .spark-popup-nav.animated {
    display: inline-block;
}

.spark-popup .spark-popup-nav.animated {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

.slideRight {
    -webkit-animation-name: slideRight;
    animation-name: slideRight;
}

.slideLeft {
    -webkit-animation-name: slideLeft;
    animation-name: slideLeft;
}

.spark-alert {
    background-image: linear-gradient(to right, #eb3349 0%, #f45c43 100%);
}

.shape {
    position: absolute;
    width: 52%;
    height: 42%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    top: 21%;
    left: 27.5%;
    border-radius: 50%;
    z-index: 2;
    animation: bounce 1s ease-in infinite;
}

.shadow {
    position: absolute;
    width: 28%;
    height: 3%;
    opacity: 0.2;
    background: black;
    left: 40%;
    top: 63%;
    border-radius: 50%;
    z-index: 1;
}

.scale {
    animation: scale 1s ease-in infinite;
}

.confirmebutton {
    appearance: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #aeaeae;
    background-color: #dbdada;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    top: 80%;
    margin-left: 90;
    padding: 12px 27px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom: 4px solid rgba(0, 0, 0, 0.21);
    border-radius: 12px;
}

.confirmebutton:before {
    border-radius: 12px;
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #EBEBEB;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    color: black;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.confirmebutton:hover:before {
    border-radius: 12px;
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.confirmebutton:after {
    background-color: #FFFFFF;
}

.confirmebutton span {
    z-index: 1;
    position: relative;
}

.close-button {
    position: relative;
    margin: auto;
    width: 50px;
    cursor: pointer;
    left: 110px;
}

.leftright {
    height: 4px;
    width: 20px;
    position: absolute;
    margin-top: 24px;
    background-color: #f8f8f8;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 20px;
    position: absolute;
    margin-top: 24px;
    background-color: #f8f8f8;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.close-button:hover .leftright {
    transform: rotate(-45deg);
    background-color: #f8f8f8;
}

.close-button:hover .rightleft {
    transform: rotate(45deg);
    background-color: #f8f8f8;
}

.close-button:hover label {
    opacity: 1;
}

.spark-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translate(0px, 60px);
    font-family: 'Nunito', sans-serif;
    font-size: 1.675rem;
    color: #aeaeae;
}

.spark-subtitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translate(0px, 80px);
    font-family: 'Nunito', sans-serif;
    color: #aeaeae;
}

@media (min-width: 768px) {
    .confirmebutton-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

@-webkit-keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slideRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes bounce {
    50% {
        transform: translateY(-10px);
    }
}

@keyframes scale {
    50% {
        transform: scale(0.9);
    }
}